{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="../../static/css/custom.css"  rel="stylesheet" type="text/css">

<body>

<div class="topnav">
    <a class="page-links" href="#">ABOUT</a>
    <a class="page-links" href="#">PROGRAMME</a>
    <a class="page-links" href="#">STUDENT PROJECTS</a>

    <a class="logo-banner">LOGO</a> 

    <a href="accounts/enrol"><button class="button button-enrol">ENROL</button></a>
    <a style="margin-left: 4px"><button class="button button-portal">PORTAL</button></a>

    <a class="lang-icon"><img src="{% static 'img/langicon.png' %}" width="18" height="19"></a>
  </div>

<!-- TAB #1: INTRO SLOGAN W/ ENROL BUTTON -->
<div>
  <div class="slog-div">
    <p class="slog-banner">PREPARE YOUR CHILD FOR THEIR FUTURE THROUGH CODE</p>
    <p class="slog-text">Based on Harvard educational research and co-designed by technologists and educators this bespoke programme improves creativity, critical thinking, collaboration and technology skills in a fun and engaging way. </p>
    <a href="accounts/enrol"><button class="button-enrolhome">ENROL</button></a>
  </div>
</div>

<!-- TAB #2: OUR PROGRAMME GRID -->
<div>
  <div id="prog-grid">
    <h1>OUR PROGRAMME</h1>
      <div class="grid-container">
        <div id="prog-picbox"><img src="{% static 'img/placehold.png' %}"><p>LEVEL 1</p></div>
        <div id="prog-picbox"><img src="{% static 'img/placehold.png' %}"><p>LEVEL 2</p></div>
        <div id="prog-picbox"><img src="{% static 'img/placehold.png' %}"><p>LEVEL 3</p></div>  
        <div id="prog-picbox"><img src="{% static 'img/placehold.png' %}"><p>LEVEL 4</p></div>
        <div id="prog-infobox">Beginner: Stimulate interest, learn computational thinking, create animations and simple games, Scratch-based</div>
        <div id="prog-infobox">Intermediate: Stimulate interest, learn computational thinking, create animations and simple games, Scratch-based</div>  
        <div id="prog-infobox">Advanced: Apply real world problem solving, create games and web applications, Scratch and Text based</div> 
        <div id="prog-infobox">Professional: learn professional programming language, create applications, Text-based</div> 
      </div>
    <h1>SKILLSET</h1>
  </div>
</div>

<!-- TAB #3: SKILLSET GRID -->
<div>
  <div id="skill-grid">
      <div style="background-color: #C4C4C4;" class="skill-container">
        <div id="skill-picbox"><img src="{% static 'img/placehold.png' %}"></div>
        <div id="skill-picbox"><img src="{% static 'img/placehold.png' %}"></div>
        <div id="skill-picbox"><img src="{% static 'img/placehold.png' %}"></div>  
        <div id="skill-picbox"><img src="{% static 'img/placehold.png' %}"></div>
        <div style="background-color: #C4C4C4;" id="skill-infobox"><h1 style="background-color: #C4C4C4;">Collaboration</h1>Learn by creating animations, games, augmented reality, and artificial intelligence applications at student's own pace.</div>
        <div style="background-color: #C4C4C4;" id="skill-infobox"><h1 style="background-color: #C4C4C4;">Critical Thinking</h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec consectetur semper.</div>
        <div style="background-color: #C4C4C4;" id="skill-infobox"><h1 style="background-color: #C4C4C4;">Collaboration</h1>Develop communication & collaboration skills by working in groups and sharing outcome.</div>
        <div style="background-color: #C4C4C4;" id="skill-infobox"><h1 style="background-color: #C4C4C4;">Technology Skills</h1>Have fun being creative while applying computational thinking & design thinking.</div>
      </div>
  </div>
</div>

<!-- TAB #3.1: SCHEDULE -->
<div style="background-color: #C4C4C4; font-size: 32px; font-weight: bold; text-align:center; ">
  SCHEDULE<br>
    <button class="collapsible" style = "border-radius: 150px; padding:0; background-color: none; position: relative; top: 18px; "><img src="{% static 'img/collapsebtn.png' %}" width="28" height="28" ></button>
    <div class="content">
      <div id= "sched-container">
        <div style="background-color:#C4C4C4">Term 1</div>
        <div style="background-color:#C4C4C4">Term 2</div>
        <div style="background-color:#C4C4C4">Term 3</div>  
        <div style="background-color:#C4C4C4">Term 4</div>

        <div style="background-color:#FFFFFF; font-size:12px;">
          <p>13 Feb 2021 - 10 Apr 2021</p>
          <p>(9 classes)</p><br>
          <p>Saturday 10:30am</p>
          <p>Epsom Girls Grammar School</p><br>
          <p>Saturday 1pm & 2pm</p>
          <p>Botany Library</p>
        </div>
        <div style="background-color:#FFFFFF; font-size:12px;">
          <p>08 May 2021 - 03 Jul 2021</p>
          <p>(9 classes)</p><br>
          <p>Saturday 10:30am or 11:30am</p>
          <p>Epsom Girls Grammar School</p><br>
          <p>Wednesday 3:30pm</p>
          <p>Next to Point View School, Dannemore</p>
        </div>
        <div style="background-color:#FFFFFF; font-size:12px;">
          <p>31 Jul 2021 - 25 Sep 2021</p>
          <p>(9 classes)</p><br>
          <p>Saturday 10:30am & 11:30am</p>
          <p>Epsom Girls Grammar School</p><br>
          <p>Wednesday 3:30pm</p>
          <p>Next to Point View School, Dannemore</p>
        </div>
        <div style="background-color:#FFFFFF; font-size:12px;">
          <p>23 Oct 2021 - 11 Dec 2021</p>
          <p>(9 classes)</p><br>
          <p>Saturday 10:30am & 11:30am</p>
          <p>Epsom Girls Grammar School</p><br>
          <p>Wednesday 3:30pm</p>
          <p>Next to Point View School, Dannemore</p>
        </div>
      </div>
    </div>
</div>

<!-- TAB #4: DATE & LOCATION GRID -->
<div style="padding: 80px 120px 20px 120px; text-align: center; background:#FFFFFF">
  <div id="grid-details">
    <div style="padding: none; margin:none;">
        <li id="li-details"style="font-weight: bold;">Age</li>
        <li id="li-details"style="font-weight: bold;">Date</li>
        <li id="li-details"style="font-weight: bold;">Time/Location</li><br><br><br><br>
        <li id="li-details" style="line-height: 1.6; font-weight: bold;">Lesson Duration</li>
        <li id="li-details" style="font-weight: bold;">Fees</li>
    </div>

    <div>
        <li id="li-details">7-12 years old</li>
        <li id="li-details">Term 2 starts from 5 May 2021</li>
        <li id="li-details">Epsom Girls Grammer School</li>
        <li id="li-details">Saturdays 10:30 am and 11:30 am</li>
        <li id="li-details">Next to Point View School</li>
        <li id="li-details">Wednesday 3:30pm</li>
        <li style="line-height: 2.2;" id="li-details">1 hour</li>
        <li id="li-details">$30 for Term 2 (9 sessions)</li>
    </div>

    <div>
        <div id="prog-picbox"><img src="{% static 'img/placehold.png' %}"><p style="font-size: 20px; font-weight: bold; position: relative; top:98px; ">Google map</p></div>
        
    </div>
  </div>
  <a href="accounts/enrol"><button class="button-enrolhome">ENROL</button></a>
</div>

<!-- TAB #5: STUDENT PROJECTS IMAGE GRID -->
<div>
  <div id="projects-grid">
      <h1>STUDENT PROJECTS</h1><br>
        <div id="grid-project">
          <div id="project-picbox"><img src="{% static 'img/placehold.png' %}"></div>
        </div>
  </div>
</div>

<!-- TAB #6: OUR TUTORS GRID -->
<div>
  <div id = "tutor-grid">
    <h1>OUR TUTORS</h1>
      <div id="grid-tutor">
          <div id="tutor-picbox"><img src="{% static 'img/placehold.png' %}"><p>ALAN KAN</p></div>
          <div id="tutor-picbox"><img src="{% static 'img/placehold.png' %}"><p>YOUNA JUNG</p></div>
          <div style="font-size: 12px; background-color: #FFFF;">Lorem ipsum dolor sit amet, consectetur adipiscing elit donec consectetur semper.</div>
          <div style="font-size: 12px; background-color: #FFFF;">Lorem ipsum dolor sit amet, consectetur adipiscing elit donec consectetur semper.</div>
      </div>
      <a href="accounts/enrol"><button class="button-enrolhome">ENROL</button></a>
  </div>
</div>

<div class="footer">
    <div class="box-foot">
      <div>
        <a style="font:Lato;font-size:8px;color:#FFFFFF">ABOUT</a>
          <ul>
            <li style="text-indent: 1.8em;" class="footer">Background</li>
            <li style="text-indent: 0.3em;" class="footer">Teachers</li>
            <li style="text-indent: 6.3em;" class="footer">Sponsors and Partners</li><br><br>
            <li style="font-size: 7px; text-indent: 5em;" class="footer">© 2021 LevelUp Works</li>
          </ul>
      </div>
      
      <div>
          <a style="font:Lato;font-size:8px;color:#FFFFFF">PROGRAMME</a>
        <ul>
            <li style="text-indent: -2.8em;" class = "footer">Content</li>
            <li style="text-indent: -2.6em;" class = "footer">Location</li>
            <li style="text-indent: 2.2em;" class = "footer">Dates and Schedule</li>
            <li style="text-indent: -4.4em;" class = "footer">Fees</li>
          </ul>
      </div>
  
      <div>
          <a style="font:Lato;font-size:8px;color:#FFFFFF">STUDENT PROJECTS</a>
        <ul>
            <li style="text-indent: -3.3em;" class = "footer">Student Games</li>
            <li style="text-indent: -3.7em;" class = "footer">Photo of Class</li>
            <li style="text-indent: -6.3em;" class = "footer">Reviews</li>
          </ul>
      </div>
      
      <div>
          <a style="font:Lato;font-size:8px;color:#FFFFFF">CONTACT US</a>
            <ul>
              <li style="text-indent: 5.6em; list-style: inside url({% static 'img/mailicon.jpg' %});" class="footer">alan@levelupworks.com</li>
              <li style="text-indent: 0.6em; list-style: inside url({% static 'img/phoneicon.png' %});" class="footer">021 668 185</li>
              <li style="text-indent: 2.2em; list-style: inside url({% static 'img/fbicon.png' %});" class="footer">LevelUp Works</li>
           </ul>
      </div>
    </div>
  </div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

</body>
</html>